<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pycampers.flutterpdfviewer">

    <application>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".PdfActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
